# This is a basic workflow to help you get started with Actions

name: testgenerateLogPage

# Controls when the workflow will run
on:
  push:
    paths:
      - ".github/workflows/generator.py"
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest


    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Run a python script
        run: |
          python3 .github/workflows/generator.py > logViewer.html

      # Job for Minify-JS
      - name: Minify-JS Action
        uses: jossydevers/minify-js@v1.0.1
        with:
          directory: 'logViewer.html' # (OPTIONAL)
          output: './'

      - name: cat logViewer
        run: |
          rm logViewer.html
          mv logViewer.min.html logViewer.html
          cat logViewer.html

